body {
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
}

body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
}

.time {
  font-size: 4rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time span:first-child {
  margin-right: 20px;
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  margin: 30px 0;
}

.focus {
  cursor: pointer;
}

.name {
  margin-left: 20px;
  cursor: pointer;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.container-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.change-image {
  width: 44px;
  height: 44px;
  background-image: url(./assets/images/refresh.svg);
  background-color: initial;
  border: none;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.change-image:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-image: url(./assets/images/refresh-hover.svg);
}

.container-quote {
  position: absolute;
  min-width: 300px;
  bottom: 10%;
  margin: 0 10%;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px;
}

.container-quote p {
  margin: 0;
}

.container-quote cite {
  position: absolute;
  bottom: -10px;
  right: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.change-quote {
  margin-left: 5px;
  width: 44px;
  height: 44px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-image: url(./assets/images/refresh-quote.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.change-quote:hover {
  cursor: pointer;
  background-image: url(./assets/images/refresh-quote-hover.svg);
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.weather {
  max-width: 260px;
  min-height: 200px;
  position: absolute;
  top: 0;
  right: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (40px)[3];
      grid-template-rows: repeat(3, 40px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.weather__city {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1 / 1 / 2 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  text-align: center;
  max-width: 260px;
  cursor: pointer;
}

.weather__icon {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 4 / 3;
  width: 100px;
}

.weather__temp {
  font-size: 2rem;
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 2 / 3 / 3 / 5;
}

.weather__humidity {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 3 / 3 / 4 / 5;
  font-weight: 500;
}

.wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error {
  max-width: 280px;
  position: fixed;
  top: 10%;
  /* position the top  edge of the element at the middle of the parent */
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  border: 1px solid rgba(255, 0, 0, 0.5);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

@media (max-width: 768px) {
  .time {
    font-size: 2.4rem;
  }
  .greeting {
    font-size: 1.5rem;
    margin: 15px 0;
  }
  .question {
    font-size: 1.5rem;
  }
  .quote {
    font-size: 1rem;
  }
  .weather {
    max-width: 150px;
    min-height: 200px;
    position: absolute;
    top: 0;
    right: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (30px)[3];
        grid-template-rows: repeat(3, 30px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .weather__city {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 1 / 1 / 2 / 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    text-align: center;
    max-width: 260px;
    cursor: pointer;
  }
  .weather__icon {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 4 / 3;
    width: 80px;
  }
  .weather__temp {
    font-size: 1.3rem;
    text-align: center;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 2 / 3 / 3 / 5;
  }
  .weather__humidity {
    font-size: 0.7rem;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 3 / 3 / 4 / 5;
    font-weight: 500;
  }
}
/*# sourceMappingURL=style.css.map */